In [73]:
import sqlite3

In [74]:
connector = sqlite3.connect('data_20221013/zmones.db')
cursor = connector.cursor()

query = '''
    CREATE TABLE IF NOT EXISTS draugai (
    first_name VARCHAR(50),
    last_name VARCHAR(100),
    email VARCHAR(100)
)
'''
cursor.execute(query)
connector.commit()
connector.close()

In [75]:
# sujungimas su Dumenu Base
connector = sqlite3.connect("data_20221013/zmones.db")

In [85]:
# duomenu iterpimas
query = ''' 
INSERT INTO draugai
(first_name, last_name, email)
VALUES
("Sergejus", "Bykovas", "sb@gmail.com")
'''


#  context manager atidaro DB, atlieka reikiamus commit , ir uzdaro
with connector:
    connector.cursor().execute(query)

In [77]:
# skaitom DB po viena su .fetchone
with connector:
    # kursoriu reikia pasiimti i kintamaji, nes jame nugula rezultato generatorius
    cursor = connector.cursor()
    cursor.execute("SELECT * From draugai;")
    print(cursor.fetchone())

('Hello', 'Gerulis', 'gerulis@gmail.com')

In [78]:
# nuskaitome duomenys i sarasa suo .fetchall()
from pprint import pprint
with connector:
    cursor = connector.cursor()
    cursor.execute("SELECT * From draugai;")
    pprint(cursor.fetchall()) # ima visus

[('Hello', 'Gerulis', 'gerulis@gmail.com'),
 ('Sergejus', 'Bykovas ', 'sb@gmail.com'),
 ('Blogas', 'Geras ', 'bg@mail.com'),
 ('Petras', 'Petraitis', 'petras@gmail.com'),
 ('Justas', '"', 'ooo@mail.com'),
 ('Naujas', 'Draugelis', 'naujas@mail.lt'),
 ('Nauja', 'Draugele', 'nauja@mail.lt'),
 ('Jaunas', 'Jaunuolis', 'najokas@mail.lt'),
 ('Sergejus', 'Bykovas', 'sb@gmail.com')]

In [79]:
# taisome (istrinome)
with connector:
    cursor =connector.cursor()
    cursor.execute("DELETE FROM draugai WHERE rowid > 1;")
    cursor.execute("SELECT * FROM draugai;")
    print(cursor.fetchall())

[('Hello', 'Gerulis', 'gerulis@gmail.com')]

In [80]:
# irasu atnaujinimas
with connector:
    cursor =connector.cursor()
    cursor.execute("UPDATE draugai SET first_name ='Hello' WHERE last_name ='Gerulis'")
    cursor.execute("SELECT * FROM draugai;")
    print(cursor.fetchall())

[('Hello', 'Gerulis', 'gerulis@gmail.com')]

In [81]:
nauji_draugai = [
    ('Naujas', 'Draugelis', 'naujas@mail.lt'),
        ('Nauja', 'Draugele', 'nauja@mail.lt'),
    ('Jaunas', 'Jaunuolis', 'najokas@mail.lt'),

]
with connector:
    cursor = connector.cursor()
    cursor.executemany('INSERT INTO draugai VALUES (?, ?, ?)', (nauji_draugai))

In [82]:
with connector:
    cursor = connector.cursor()
    cursor.execute('SELECT rowid, * FROM draugai WHERE rowid')
    draugai = cursor.fetchall()
    for draugas in draugai:
        print(f'-{draugas}')

-(1, 'Hello', 'Gerulis', 'gerulis@gmail.com')
-(2, 'Naujas', 'Draugelis', 'naujas@mail.lt')
-(3, 'Nauja', 'Draugele', 'nauja@mail.lt')
-(4, 'Jaunas', 'Jaunuolis', 'najokas@mail.lt')

In [83]:
with connector:
    cursor = connector.cursor()
    cursor.execute('SELECT rowid, * FROM draugai WHERE rowid > 5')
    draugai = cursor.fetchall()
    for draugas in draugai:
        print(f'-{draugas}')

In [84]:
ids = (2, 3, 5, 8)

with connector:
    cursor = connector.cursor()
    cursor.execute('SELECT rowid, * FROM draugai WHERE rowid IN (?, ?, ?, ?)', ids)
    draugai = cursor.fetchall()
    for draugas in draugai:
        print(f'-{draugas}')

-(2, 'Naujas', 'Draugelis', 'naujas@mail.lt')
-(3, 'Nauja', 'Draugele', 'nauja@mail.lt')